
$base-color: #30c9e8;

.jumbotron {
  /*padding-top: 6rem;*/
  /*padding-bottom: 6rem;*/
  /*margin-bottom: 0;*/
  background-color: transparent;
  margin-top: -15rem;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  border-radius: 0.5rem;
}

.jumbotron .container {
  padding: 3rem;
  max-width: 60rem;
  background: white;
}

.jumbotron .container .card img {
  width: 60%;
  margin: 1rem auto;
}


.btn {
  border-radius: 2rem;
  //background-color: $base-color;
}

#header-image {
  height: 500px;
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #1e5799 0%, #7db9e8 100%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #1e5799 0%,#7db9e8 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #1e5799 0%,#7db9e8 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}