//$base-color: #545dba;
//$base-secondary: #648cd4;
//$accent-color: #f81214;

$base-color: #6c8ebf;
$base-secondary: #96b1dd;
$accent-color: #f9a300;


$background-color: $gray-lightest;
$main-image: url(../img/yosemite.jpg);